h1{
    color: rgb(0, 153, 255);
}
h2{
    color: rgb(0, 153, 255);
}
html{
    background-color: aqua;
}
body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("assets/trees/trees.png");
}
.header{
    text-align: right;background-color: black;
}